body{
    background-color: #f5ecec;
    font-style: initial;
    font-weight: bolder;
    font-family: math;
}
.header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 90%;
    margin: auto;
  
}
.sect{
    background-color: rgb(0, 0, 0);
    position: sticky;
    z-index: 1;
    top:0;
}
.header div h1{
    margin-top:27px;
    color: blue;
    font-size: x-large;
    text-align: center;
}
.header div h1 span{
    color: orangered;
    font-size: 20px;
}
.items{
    display: grid;
    grid-template-columns:repeat(6,1fr); 
    list-style: none;
    margin-top: 25px;
    font-weight: bolder;
    font-size:x-large;
    /* margin-left:-70px; */
}
.items li a{
    text-decoration: none;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}
.products div{
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    outline: 5px solid rgb(255, 255, 255);
    background-color: white;
}
.products div p{
    font-weight: bold;
}
.products div img{
    width: 150px;
    margin-top:10px;
    height: 130px;
}
.products div i{
    color: orangered;
}
.products div h3{
    margin-top:0px;
}
.products div button{
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

.icons{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    list-style: none;
    margin-top:27px;
    color:black;
    margin: 1px solid rgb(64, 55, 55);
    width:100px;
    transition: .5s ease;
    cursor: pointer;
    border-radius: 5px;
    gap: 30px;
}
.icons li a i{
    border: 1px;
    background-color: rgb(237, 222, 232);
    padding: 5px;
    color: #010101;
}
.icons li a i:hover{
    scale: 1.3;
    color: rgb(9, 9, 8);
}


/* .sticky{
    position: sticky;
    z-index: 1;
    bottom: 1px;
    margin-top: 50px;
} */
footer{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    width: 82%;
    margin: 0 auto;
    margin-top: 60px;
    /* background-color: rgb(224, 211, 183); */
    padding: 10px;
    background-color: white;
}
.icon ul li i{
    border: 1px solid pink;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    border-radius: 10px;
}
.achivers h2{
    color: blue;
}
.achivers span{
    color: orangered;
}
.achivers{
    text-align: inherit;
}
.achivers p{
    line-height: 15px;
}
.icon ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    grid-column-gap: 20px;
    padding: unset;
    width: min-content;
}
.icon ul li{
    grid-column-gap: 20px;

}
.icon ul li i{
    padding: 5px;
    background-color: darksalmon;
}
.contacts ul{
    display: flex;
    flex-direction: column;
}
.contacts h2{
    color: blue;
}
.contacts ul li a {
    text-decoration: none;
    
}
.contacts ul li i {
    color: orangered;
    padding: 6px;
}
.contacts ul li span{
    padding: 5px;
}
.contacts ul{
    list-style-type:none;
    padding: unset;


}
.links ul li a {
    text-decoration: none;
}
.links h2{
    color: blue;
}
.links ul{
    list-style: none;
    padding: unset;
}
.links ul li a span{
    color: orangered;
    padding: 5px;
}
.links ul li a {
    line-height: 25px;
    font-weight: bold;
}
.letter h2{
    color: blue;
}
.letter div img{
    width: 115px;
}
/* .letter button{
    width: 130px
} */
/* .letter p button{
    width: 60px
} */
.letter textarea{
    width: 125px;
    height: 27px;
    background-color: #c5c0c0;
    border-radius:4%;
}
.letter p{
    line-height: 10px;
}
.bottom  h5{
    text-align: center; 
    line-height: 35px;
    margin-top: 10px;
}
.bottom h5 span{
    color: rgb(252, 67, 0);
    font-weight: bolder;
}