section {
    background-color: #f5ecec;
    font-style: initial;
    font-weight: bolder;
    font-family: math;
}

/* 
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
  } */


/*haeder part*/
.header-section {

    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    top: 1px;
    background-color: white;
}

.header-section div h1 {
    margin-top: 27px;
    color: blue;
}

.header-section div h1 span {
    color: orangered;
    font-size: 20px;
}

/* .header-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-auto-rows: 100px;
} */
.items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    margin-top: 30px;
    font-weight: bolder;
    font-size: x-large;
}

.items li a {
    text-decoration: none;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin-top: 27px;
    color: black;
    margin: 1px solid rgb(64, 55, 55);
    width: 100px;
    transition: .5s ease;
    cursor: pointer;
    border-radius: 5px;
}

.icons li a i {
    border: 1px;
    background-color: rgb(237, 222, 232);
    padding: 5px;
    color: #010101;
}

.icons li a i:hover {
    scale: 1.3;
    color: rgb(9, 9, 8);
}

/*haeder part ends*/
/* banner part*/
section .banner-text {
    position: absolute;
    color: rgb(18, 19, 19);
    text-align: center;
    left: 35%;
    top: 150px;
}

.banner-text div h1 {
    font-size: xx-large;
}

#click {
    padding: 4px 5px;
}

/* banner part ends*/

/*features part*/
.our-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.our-features div {
    text-align: center;
    border: 1px solid rgb(233, 227, 227);
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    outline: 5px solid rgb(255, 255, 255);
    background-color: white;
}

.our-features div h1 {
    margin-top: 20px;

}

.our-features p {
    line-height: 30%;
}

.our-features div button {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

.our-features div button:hover {
    scale: 1.1;
}

#head {
    margin-top: 45px;
}

section div h1 {
    text-align: center;
    margin-top: 50px;
}

.features div h1 span {
    color: rgb(236, 232, 230);
    border: 1px solid;
    background-color: rgb(255, 102, 0);
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    padding: 4px 30px;
}

/*features part ends*/
/* products part*/
.our-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

section div h1 {
    text-align: center;
    margin-top: 50px;
}

.our-products div {
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    outline: 5px solid rgb(255, 255, 255);
    background-color: white;
}

.our-products div p {
    font-weight: bold;
}

.our-products div img {
    width: 150px;
    margin-top: 10px;
}

.our-products div i {
    color: orangered;
}

.our-products div h1 {
    margin-top: 0px;
}

.our-products div button {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

.our-products div p button:hover {
    scale: 1.1;
}

/* products part ends*/
/*categories part*/
.our-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 88%;
    margin: 0 auto;
    margin-top: 30px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.our-categories DIV {
    text-align: center;
    border: 1px solid rgb(233, 227, 227);
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    outline: 5px solid rgb(255, 255, 255);
    background-color: white;
}

.our-categories DIV img {
    width: 200px;
}

.our-categories div p {
    font-weight: bold;
}

.our-categories div button {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

.our-categories div button:hover {
    scale: 1.1;
}

section div h1 {
    text-align: center;
    margin-top: 50px;
}

.our-categories div h1 {
    margin-top: 10px;
}

/*categories part ends*/
/*review part*/
.customer-review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.customer-review div {
    text-align: center;
    border: 1px solid rgb(233, 227, 227);
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    outline: 5px solid rgb(255, 255, 255);
    background-color: white;
}

.customer-review div img {
    border-radius: 60%;
    height: 100px;
}

.customer-review div i {
    color: orangered;
}

section div h1 {
    text-align: center;
    border: 1px;
    box-shadow: 5px;
}

.customer-review div h1 {
    margin-top: 45px;
}

.customer-review div img:hover {
    scale: 1.1;
}

/*review part ends*/
/*blogs part*/
.our-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    grid-column-gap: 15px;
    margin-top: 30px;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.our-blogs img {
    width: 100%;
    height: 150px;
}

.our-blogs div {
    padding: 1px;
    height: 400px;
    text-align: center;
    border: 1px solid rgb(233, 227, 227);
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    outline: 5px solid rgb(255, 255, 255);
    background-color: white;
}

.our-blogs div button {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

.our-blogs div i {
    color: orangered;
}

.our-blogs div i :last-child {
    margin-left: 151px;
}

.our-blogs p {
    color: grey;
}

.our-blogs div:hover {
    scale: 1.1;
}

section div h1 {
    text-align: center;
    margin-top: 45px;
    font-size: x-large;
}

/*blogs part ends*/

/*footer*/
footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 82%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgb(224, 211, 183);
}

.icon ul li i {
    border: 1px solid pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
}

.achivers h2 {
    color: blue;
}

.achivers span {
    color: orangered;
}

.achivers {
    text-align: inherit;
}

.achivers p {
    line-height: 15px;
}

.icon ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    grid-column-gap: 20px;
    padding: unset;
    width: min-content;
}

.icon ul li {
    grid-column-gap: 20px;

}

.icon ul li i {
    padding: 5px;
    background-color: darksalmon;
}

.contacts ul {
    display: flex;
    flex-direction: column;
}

.contacts h2 {
    color: blue;
}

.contacts ul li a {
    text-decoration: none;

}

.contacts ul li i {
    color: orangered;
    padding: 6px;
}

.contacts ul li span {
    padding: 5px;
}

.contacts ul {
    list-style-type: none;
    padding: unset;


}

.links ul li a {
    text-decoration: none;
}

.links h2 {
    color: blue;
}

.links ul {
    list-style: none;
    padding: unset;
}

.links ul li a span {
    color: orangered;
    padding: 5px;
}

.links ul li a {
    line-height: 25px;
    font-weight: bold;
}

.letter h2 {
    color: blue;
}

.letter div img {
    width: 115px;
}

.letter button {
    width: 130px
}

.letter p button {
    width: 60px
}

.letter textarea {
    width: 125px;
    height: 18px;
    background-color: #c5c0c0;
    border-radius: 4%;
}

.letter p {
    line-height: 10px;
}

/*footer part ends*/

.bottom h3 {
    /* border-top: 1px solid rgb(0, 0, 0); */
    text-align: center;
    line-height: 35px;
    margin-top: 10px;
}

.bottom h3 span {
    color: rgb(252, 67, 0);
    font-weight: bolder;
}

.form {
    padding: 7px;
}

.form h2 {
    color: blue;
    /* text-align: center; */
}

.login {
    padding: 5px 20px;
    font-size: small;
    font-weight: bolder;
}

.reg {
    text-align: left;

}

.gridone {
    position: absolute;
    border: 1px solid;
    background-color: #c5c0c0;
    width: auto;
    top: 90px;
    padding: 20px;
    right: 40px;
    display: none;
}

.form i {
    color: red;
    display: block;
    text-align: right;
    font-size: larger;
}

.reg {
    position: absolute;
    border: 1px solid;
    background-color: #c5c0c0;
    width: auto;
    top: 90px;
    padding: 20px;
    right: 40px;
    display: none;
}

.reg i {
    color: red;
    display: block;
    text-align: right;
    font-size: larger;
}

.ForgetPass {
    position: absolute;
    border: 1px solid;
    background-color: #c5c0c0;
    width: 300px;
    top: 90px;
    padding: 20px;
    right: 40px;
    height: 300px;
    display: none;

}

.ForgetPass {
    margin-bottom: 20px;
}

.ForgetPass h2 {
    text-align: center;
}

.ForgetPass i {
    color: red;
    display: block;
    text-align: right;
    font-size: larger;
}

/* .fresh {
    display: none;
}
.fresh :hover{
    display: block;
} */

#eErr {
    color: red;
}

#pErr {
    color: red;
}